* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: archer;
  color: white;
}

a {
  color: white;
}

.wrapper{
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100vh;
}
header{
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 1;
}
.modal-style{
  position: absolute;
  left: 0em;
  top: 0em;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #0000009c;
  padding: 120px 160px;
}
.modal-style > p, .modal-style > a {
  font-size: 32px;
}
.modal-style > h1 {
  margin-top: 120px;
  font-size: 56px;
}
hr.solid {
  border-top: 1px solid #000;
  width: 15%;
  position: absolute;
}

.buttonstyle, .react-responsive-modal-closeButton{
  z-index: 2;
  position: absolute;
  right: 4em;
  top: 3em;
  background-color: #ffffff00;
  border: none;
  color: white;
}
.react-responsive-modal-closeButton > svg {
  width: 48px;
  height: 48px;
  fill: white;
}
.react-responsive-modal-closeButton > svg:hover{
  border: none;
  color: purple;
}

.instrcution {
  position: absolute;
  opacity: 1;
  height: auto;
  bottom: 2em;
  z-index: 1;
  left: 50vw;
  color: #0000009e;
  text-align: center;
  transition: opacity 3s ease-out;
}

Canvas {
  width: 100%;
  height: 100%;
  /* background-image:url(./asset/bg4.png); */
  z-index: 0;
}

#presenter{
  height: 200px;
  width: 180px;
  background-color: black;
}
